doctype
html
	head
		title Galaxy
		meta(name="description" content="The front-end framework based on conversational language.")
		link(rel="icon" href="/img/favicon.png")
		link(rel="stylesheet" href="/css/galaxy.css")
		link(rel="stylesheet" href="/css/docs.css")
		

body(ondragstart="return false")

		header
			a(href="/")
				img(src="/img/logo.png" alt="Galaxy" height="50")
			nav(st-role="target" st-group="header")
				ul
					li
						a.active(href="/docs/") Getting Started
					li
						a(href="/components") Components
					li
						a(href="/boilerplates") Boilerplates
					li
						a(href="https://github.com/Magmoz/galaxy" target="_blank") Github Repo</a>

		.banner
			h1(g="text-center") The basics

		section(g="center xlg-container")
			aside(g="md-padding-lr xlg-padding-t" style="border-right: #ddd 1px solid")
				ul
					li
						a(href="/docs/" class=current.source=='index'?'active':'') 1. Installation
					li
						a(href="/docs/building-components" class=current.source=='building-components'?'active':'') 2. Building Components
					li
						a(href="/docs/states" class=current.source=='states'?'active':'') 3. State toggling
					li 4. Design Guidelines
					li 5. Contributing
				

			#pjax-container(g="10 lg-container md-padding-lr lg-padding-t")
				!= yield

		footer
			a(g="sm-padding")
				img(src="/img/logo-dark.png" height="50")
			ul(g="centered")
				li Designed and maintained by <a href="//twitter.com/andyfang98">@AndyFang98</a>
			//- section
				ul
					li Made by <a href="https://twitter.com/AndyFang98" class="twitter-follow-button" data-show-count="false">@AndyFang98</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			ul(g="centered md-padding")
				li(style="margin-right: 2em;") <a class="github-button" href="https://github.com/Magmoz/galaxy" data-count-href="/Magmoz/galaxy/stargazers" data-count-api="/repos/Magmoz/galaxy#stargazers_count">Star</a>
				li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-git-branch" data-count-href="/Magmoz/galaxy/network" data-count-api="/repos/Magmoz/galaxy#forks_count">Fork</a>	

		script(src="https://code.jquery.com/jquery.min.js")
		script(src="/js/galaxy.js")
		script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")
		script(src="/js/docs.js")
		script(async='', src='//assets.codepen.io/assets/embed/ei.js')