/*
	-------
	GALAXY/TYPOGRPAHY
	_______
	Customize the settings in _settings.scss
*/
body {
  font-family: "Proxima Nova", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
  outline: 0;
  margin: 0;
  text-rendering: optimizelegibility;
  line-height: 2em;
  color: #5e5e5e;
  transition-duration: .3s;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  margin-bottom: .5em;
  line-height: 1.4; }

h1 {
  color: black;
  line-height: 1.3em;
  font-size: 2.26667em;
  font-weight: 300; }

h2 {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3em;
  font-size: 1.93333em;
  font-weight: 300; }

h3 {
  color: rgba(0, 0, 0, 0.74);
  line-height: 1.3em;
  font-size: 1.6em;
  font-weight: 300; }

h4 {
  color: rgba(0, 0, 0, 0.61);
  line-height: 1.3em;
  font-size: 1.26667em;
  font-weight: 300; }

h5 {
  color: rgba(0, 0, 0, 0.48);
  line-height: 1.3em;
  font-size: 0.93333em;
  font-weight: 300; }

h6 {
  color: rgba(0, 0, 0, 0.35);
  line-height: 1.3em;
  font-size: 0.6em;
  font-weight: 300; }

blockquote {
  border-left: #08c 5px solid;
  padding-left: 1em; }

a {
  color: #08c;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  padding: 0; }
  a:hover {
    color: #00aaff; }

p {
  font-size: 1.1em;
  margin-top: 1em; }

code, pre {
  color: #111;
  background-color: rgba(246, 246, 246, 0.8);
  font-size: 15px;
  border-radius: 2px; }

pre {
  display: block;
  margin: 0 0 28px 0;
  box-sizing: border-box;
  white-space: pre !important;
  word-wrap: normal !important;
  overflow: auto !important;
  background-color: rgba(246, 246, 246, 0.8);
  border-radius: 3px; }

[g~="bold"] {
  font-weight: bold; }

[g~="italic"] {
  font-style: italic; }

/* --- BASE */
*:focus, *:active {
  outline: none; }

i:after {
  content: "\00a0";
  /* Spacing around font-awesome and the such */ }

hr {
  width: 33%;
  border: #DDDDDD 1px solid;
  margin-top: 1em;
  margin-bottom: 1em; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

img {
  max-width: 100%; }

li {
  list-style-type: none; }

iframe {
  border: 0;
  width: 100%; }

code, pre {
  padding: 3px;
  border-radius: 3px; }

[g~="primary"] {
  border-color: #006699;
  background: #08c;
  color: white; }

[g~="success"] {
  border-color: #b2c022;
  background: #CDDC39;
  color: white; }

[g~="warning"] {
  border-color: #cc7a00;
  background: #FF9800;
  color: white; }

[g~="danger"] {
  border-color: #ea1c0d;
  background: #F44336;
  color: white; }

ul {
  padding: 0; }

menu {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  section [g~="centered"] {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

[g~="column"], [g~="content"] {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

[g~="block"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-spacing: space-around; }

[g~="inline"] {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-spacing: space-around; }

[g~="1"], [g~="2"], [g~="3"], [g~="4"], [g~="5"], [g~="6"], [g~="7"], [g~="8"], [g~="9"], [g~="10"], [g~="11"], [g~="12"] {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

[g~="1"] {
  width: 8.33333%; }

[g~="2"] {
  width: 16.66667%; }

[g~="3"] {
  width: 25%; }

[g~="4"] {
  width: 33.33333%; }

[g~="5"] {
  width: 41.66667%; }

[g~="6"] {
  width: 50%; }

[g~="7"] {
  width: 58.33333%; }

[g~="8"] {
  width: 66.66667%; }

[g~="9"] {
  width: 75%; }

[g~="10"] {
  width: 83.33333%; }

[g~="11"] {
  width: 91.66667%; }

[g~="12"] {
  width: 100%; }

[g~="offset-1"] {
  margin-left: 8.33333%; }

[g~="offset-2"] {
  margin-left: 16.66667%; }

[g~="offset-3"] {
  margin-left: 25%; }

[g~="offset-4"] {
  margin-left: 33.33333%; }

[g~="offset-5"] {
  margin-left: 41.66667%; }

[g~="offset-6"] {
  margin-left: 50%; }

[g~="offset-7"] {
  margin-left: 58.33333%; }

[g~="offset-8"] {
  margin-left: 66.66667%; }

[g~="offset-9"] {
  margin-left: 75%; }

[g~="offset-10"] {
  margin-left: 83.33333%; }

[g~="offset-11"] {
  margin-left: 91.66667%; }

[g~="offset-12"] {
  margin-left: 100%; }

[g~="xsm-container"] {
  max-width: 259px; }

[g~="sm-container"] {
  max-width: 448px; }

[g~="md-container"] {
  max-width: 767px; }

[g~="lg-container"] {
  max-width: 970px; }

[g~="xlg-container"] {
  max-width: 1440px; }

[g~="top"] {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

[g~="right"], [g~="end"] {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end; }

[g~="bottom"] {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

[g~="left"], [g~="start"] {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start; }

[g~="centered"] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto; }
  [g~="centered"]:not(section) {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

[g~="middle"] {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

[g~="around"] {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

[g~="between"] {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

[g~="first"] {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1; }

[g~="last"] {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

@media screen and (max-width: 259px) {
  [g~="xsm-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
/*
    -------
    GALAXY/BUTTONS
    _______
*/
button, input[type="submit"] {
  border: #F2F2F2 1px solid;
  border-radius: 0.3em;
  border-color: #d8d8d8;
  background: #F2F2F2;
  color: #989898;
  padding: .8em 1.5em;
  font-weight: 400;
  font-size: .9rem;
  cursor: pointer;
  text-align: center;
  height: auto;
  transition-duration: .3s; }
  button [g~="floating"], input[type="submit"] [g~="floating"] {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  button:not([g~="disabled"]):hover, input[type="submit"]:not([g~="disabled"]):hover {
    -webkit-filter: none;
            filter: none;
    box-shadow: none;
    background: #e5e5e5; }
  button:not([g~="disabled"]):active, input[type="submit"]:not([g~="disabled"]):active {
    background: #bfbfbf; }
  button[g~="primary"], input[type="submit"][g~="primary"] {
    border-color: #006699;
    background: #08c;
    color: white; }
    button[g~="primary"]:not([g~="disabled"]):hover, input[type="submit"][g~="primary"]:not([g~="disabled"]):hover {
      background: #005580; }
    button[g~="primary"]:not([g~="disabled"]):active, button[g~="primary"].st-activated, input[type="submit"][g~="primary"]:not([g~="disabled"]):active, input[type="submit"][g~="primary"].st-activated {
      background: #006699; }
  button[g~="success"]:not([g~="disabled"]), input[type="submit"][g~="success"]:not([g~="disabled"]) {
    border-color: #b2c022;
    background: #CDDC39;
    color: white; }
    button[g~="success"]:not([g~="disabled"]):not([g~="disabled"]):hover, input[type="submit"][g~="success"]:not([g~="disabled"]):not([g~="disabled"]):hover {
      background: #9daa1e; }
    button[g~="success"]:not([g~="disabled"]):not([g~="disabled"]):active, button[g~="success"]:not([g~="disabled"]):not([g~="disabled"]).st-activated, input[type="submit"][g~="success"]:not([g~="disabled"]):not([g~="disabled"]):active, input[type="submit"][g~="success"]:not([g~="disabled"]):not([g~="disabled"]).st-activated {
      background: #b2c022; }
  button[g~="warning"]:not([g~="disabled"]), input[type="submit"][g~="warning"]:not([g~="disabled"]) {
    border-color: #cc7a00;
    background: #FF9800;
    color: white; }
    button[g~="warning"]:not([g~="disabled"]):not([g~="disabled"]):hover, input[type="submit"][g~="warning"]:not([g~="disabled"]):not([g~="disabled"]):hover {
      background: #b36a00; }
    button[g~="warning"]:not([g~="disabled"]):not([g~="disabled"]):active, input[type="submit"][g~="warning"]:not([g~="disabled"]):not([g~="disabled"]):active {
      background: #cc7a00; }
  button[g~="danger"]:not([g~="disabled"]), input[type="submit"][g~="danger"]:not([g~="disabled"]) {
    border-color: #ea1c0d;
    background: #F44336;
    color: white; }
    button[g~="danger"]:not([g~="disabled"]):not([g~="disabled"]):hover, input[type="submit"][g~="danger"]:not([g~="disabled"]):not([g~="disabled"]):hover {
      background: #d2190b; }
    button[g~="danger"]:not([g~="disabled"]):not([g~="disabled"]):active, input[type="submit"][g~="danger"]:not([g~="disabled"]):not([g~="disabled"]):active {
      background: #f8877f; }
  button[g~="disabled"], input[type="submit"][g~="disabled"] {
    border: 0;
    background-image: none;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none; }
  button[g~="grouped"], input[type="submit"][g~="grouped"] {
    position: relative;
    vertical-align: middle; }
  button[g~="large"], input[type="submit"][g~="large"] {
    padding: 1em 2em;
    font-size: 1.2em; }
  button[g~="small"], input[type="submit"][g~="small"] {
    padding: .5em 1.5em;
    font-size: .9em; }
  button[g~="rounded"], input[type="submit"][g~="rounded"] {
    border-radius: 0.6em; }

div[g~="dropdown"] {
  position: relative; }
  div[g~="dropdown"] button + ul {
    display: none;
    left: 0;
    box-sizing: border-box;
    width: 200px;
    background: #FFF;
    color: #666;
    vertical-align: top;
    border: 1px solid #D3D3D3;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute; }
    div[g~="dropdown"] button + ul li {
      padding: 0.5em 1.5em;
      cursor: pointer; }
      div[g~="dropdown"] button + ul li:hover {
        background: #eee; }
  div[g~="dropdown"] button.st-activated + ul {
    display: block; }

/*
	-------
	GALAXY/FORMS
	_______
*/
input[type='checkbox'], input[type='radio'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='tel'], input[type='color'], select {
  /* Fields without text */
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea {
  /* All fields */
  border-radius: 0.3em;
  font-size: 1em;
  line-height: 100%;
  position: relative;
  min-height: 2.7em;
  vertical-align: middle;
  transition: border-color .3s ease;
  text-indent: 5%;
  text-overflow: ellipsis;
  color: #333;
  background: #fff;
  margin-left: .5em;
  margin-right: .5em;
  border: #DDDDDD 1px solid;
  box-sizing: border-box; }

input[type='checkbox'], input[type='radio'], input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='number'], input[type='search'], input[type='tel'], textarea {
  /* All fields with text */ }
  input[type='checkbox']:hover, input[type='radio']:hover, input[type='text']:hover, input[type='password']:hover, input[type='email']:hover, input[type='url']:hover, input[type='number']:hover, input[type='search']:hover, input[type='tel']:hover, textarea:hover {
    box-shadow: inset 0 1px 3px #f6f6f6; }
  input[type='checkbox']:focus, input[type='radio']:focus, input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='url']:focus, input[type='number']:focus, input[type='search']:focus, input[type='tel']:focus, textarea:focus {
    box-shadow: none; }
  input[type='checkbox']:focus:invalid, input[type='radio']:focus:invalid, input[type='text']:focus:invalid, input[type='password']:focus:invalid, input[type='email']:focus:invalid, input[type='url']:focus:invalid, input[type='number']:focus:invalid, input[type='search']:focus:invalid, input[type='tel']:focus:invalid, textarea:focus:invalid {
    border: #f6f6f6 1px solid; }

/* -- LAYOUTS */
[g~="grouped"] > input[type='text'], [g~="grouped"] > input[type='email'], [g~="grouped"] > input[type='password'], [g~="grouped"] > input[type='submit'], [g~="grouped"] > button {
  width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin: 0;
  border-radius: 0; }
  [g~="grouped"] > input[type='text']:first-child, [g~="grouped"] > input[type='email']:first-child, [g~="grouped"] > input[type='password']:first-child, [g~="grouped"] > input[type='submit']:first-child, [g~="grouped"] > button:first-child {
    margin-bottom: 0;
    border-radius: 3px 3px 0 0; }
  [g~="grouped"] > input[type='text']:last-child, [g~="grouped"] > input[type='email']:last-child, [g~="grouped"] > input[type='password']:last-child, [g~="grouped"] > input[type='submit']:last-child, [g~="grouped"] > button:last-child {
    margin-top: 0;
    border-radius: 0 0 3px 3px; }
  [g~="grouped"] > input[type='text'] > button, [g~="grouped"] > input[type='email'] > button, [g~="grouped"] > input[type='password'] > button, [g~="grouped"] > input[type='submit'] > button, [g~="grouped"] > button > button {
    border-radius: 0 0 3px 3px !important; }

/* -- Labels */
label[for] {
  padding: 1em;
  cursor: pointer; }

fieldset {
  padding: 0.5em; }

/*
	-------
	GALAXY/HEADER
	_______
*/
header {
  top: 0;
  margin: 0;
  position: relative;
  background-color: #000;
  color: gray;
  width: 100%;
  z-index: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  transition: .5s;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  vertical-align: middle;
  padding-top: .5em;
  padding-bottom: .5em; }
  header img {
    fill: gray;
    vertical-align: middle; }
  header nav {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    transition: 0.5s cubic-bezier(0, 1, 0.5, 1) all; }
    header nav ul {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0;
      padding-left: 0; }
      header nav ul li {
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #333333;
        margin-left: 1em; }
        header nav ul li a {
          border-radius: 0.3em;
          display: inline;
          text-decoration: none;
          padding: .75em 1em;
          color: gray; }
          header nav ul li a:hover:not([g~="active"]) {
            color: #FFFFFF; }
          header nav ul li a[g~="active"], header nav ul li a [g~="active"]:hover, header nav ul li a [g~="active"]:active {
            color: #FFFFFF;
            opacity: 1; }
  header[g~="fixed"] {
    position: fixed; }

@media screen and (max-width: 767px) {
  header {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    header > a {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    header nav {
      height: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden; }
      header nav.expanded {
        height: 100%; }
      header nav ul li {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  border-top: #fdfdfd 1px solid;
  color: black;
  background: #fff;
  line-height: 0;
  position: absolute;
  bottom: 0;
  border-top: #eee 1px solid;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  footer ul {
    padding: 0;
    padding-top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

/* Drop down */
[g~='caret'] {
  width: 0;
  height: 0;
  margin-top: -4px;
  margin-right: 0;
  margin-left: 7px;
  vertical-align: middle;
  border-top: 6px solid #717d82;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

@media screen and (min-width: 767px) {
  header nav.expanded {
    height: 100%; }
  header ul {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  header a[g~="toggle"] {
    display: none; } }
ul[g~="inline"] a {
  padding-left: 1em;
  padding-right: 1em; }

nav {
  background: #000;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

aside {
  line-height: 2em; }
  aside .active {
    border-left: #0af 3px solid;
    padding-left: 1em; }

/*
	-------
	GALAXY/BEM
	_______
*/
/* Padding */
[g~="xsm-padding"] {
  padding: 0.5em; }

[g~="sm-padding"] {
  padding: 1em; }

[g~="md-padding"] {
  padding: 1.5em; }

[g~="lg-padding"] {
  padding: 2.5em; }

[g~="xlg-padding"] {
  padding: 5em; }

[g~="xsm-padding-t"] {
  padding-top: 0.5em; }

[g~="sm-padding-t"] {
  padding-top: 1em; }

[g~="md-padding-t"] {
  padding-top: 1.5em; }

[g~="lg-padding-t"] {
  padding-top: 2.5em; }

[g~="xlg-padding-t"] {
  padding-top: 5em; }

[g~="xsm-padding-r"] {
  padding-right: 0.5em; }

[g~="sm-padding-r"] {
  padding-right: 1em; }

[g~="md-padding-r"] {
  padding-right: 1.5em; }

[g~="lg-padding-r"] {
  padding-right: 2.5em; }

[g~="xlg-padding-r"] {
  padding-right: 5em; }

[g~="xsm-padding-b"] {
  padding-bottom: 0.5em; }

[g~="sm-padding-b"] {
  padding-bottom: 1em; }

[g~="md-padding-b"] {
  padding-bottom: 1.5em; }

[g~="lg-padding-b"] {
  padding-bottom: 2.5em; }

[g~="xlg-padding-b"] {
  padding-bottom: 5em; }

[g~="xsm-padding-l"] {
  padding-left: 0.5em; }

[g~="sm-padding-l"] {
  padding-left: 1em; }

[g~="md-padding-l"] {
  padding-left: 1.5em; }

[g~="lg-padding-l"] {
  padding-left: 2.5em; }

[g~="xlg-padding-l"] {
  padding-left: 5em; }

[g~="xsm-padding-tb"] {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

[g~="sm-padding-tb"] {
  padding-top: 1em;
  padding-bottom: 1em; }

[g~="md-padding-tb"] {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

[g~="lg-padding-tb"] {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

[g~="xlg-padding-tb"] {
  padding-top: 5em;
  padding-bottom: 5em; }

[g~="xsm-padding-lr"] {
  padding-left: 0.5em;
  padding-right: 0.5em; }

[g~="sm-padding-lr"] {
  padding-left: 1em;
  padding-right: 1em; }

[g~="md-padding-lr"] {
  padding-left: 1.5em;
  padding-right: 1.5em; }

[g~="lg-padding-lr"] {
  padding-left: 2.5em;
  padding-right: 2.5em; }

[g~="xlg-padding-lr"] {
  padding-left: 5em;
  padding-right: 5em; }

/* Margins */
[g~="xsm-margin"] {
  margin: 0.5em; }

[g~="sm-margin"] {
  margin: 1em; }

[g~="md-margin"] {
  margin: 1.5em; }

[g~="lg-margin"] {
  margin: 2.5em; }

[g~="xlg-margin"] {
  margin: 5em; }

[g~="xsm-margin-t"] {
  margin-top: 0.5em; }

[g~="sm-margin-t"] {
  margin-top: 1em; }

[g~="md-margin-t"] {
  margin-top: 1.5em; }

[g~="lg-margin-t"] {
  margin-top: 2.5em; }

[g~="xlg-margin-t"] {
  margin-top: 5em; }

[g~="xsm-margin-r"] {
  margin-right: 0.5em; }

[g~="sm-margin-r"] {
  margin-right: 1em; }

[g~="md-margin-r"] {
  margin-right: 1.5em; }

[g~="lg-margin-r"] {
  margin-right: 2.5em; }

[g~="xlg-margin-r"] {
  margin-right: 5em; }

[g~="xsm-margin-b"] {
  margin-bottom: 0.5em; }

[g~="sm-margin-b"] {
  margin-bottom: 1em; }

[g~="md-margin-b"] {
  margin-bottom: 1.5em; }

[g~="lg-margin-b"] {
  margin-bottom: 2.5em; }

[g~="xlg-margin-b"] {
  margin-bottom: 5em; }

[g~="xsm-margin-l"] {
  margin-left: 0.5em; }

[g~="sm-margin-l"] {
  margin-left: 1em; }

[g~="md-margin-l"] {
  margin-left: 1.5em; }

[g~="lg-margin-l"] {
  margin-left: 2.5em; }

[g~="xlg-margin-l"] {
  margin-left: 5em; }

[g~="xsm-margin-tb"] {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

[g~="sm-margin-tb"] {
  margin-top: 1em;
  margin-bottom: 1em; }

[g~="md-margin-tb"] {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

[g~="lg-margin-tb"] {
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

[g~="xlg-margin-tb"] {
  margin-top: 5em;
  margin-bottom: 5em; }

[g~="xsm-margin-lr"] {
  margin-left: 0.5em;
  margin-right: 0.5em; }

[g~="sm-margin-lr"] {
  margin-left: 1em;
  margin-right: 1em; }

[g~="md-margin-lr"] {
  margin-left: 1.5em;
  margin-right: 1.5em; }

[g~="lg-margin-lr"] {
  margin-left: 2.5em;
  margin-right: 2.5em; }

[g~="xlg-margin-lr"] {
  margin-left: 5em;
  margin-right: 5em; }

/* Size */
[g~="center"] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto; }

[g~="centered"] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

[g~="left"] {
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start; }

[g~="right"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

[g~="text-left"] {
  text-align: left; }

[g~="text-right"] {
  text-align: right; }

[g~="text-center"] {
  text-align: center; }

/*
	-------
	GALAXY/MISC
	_______
*/
label:not([for]) {
  padding: .6rem 1rem .6rem;
  font-size: .95rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.3em; }
  label:not([for]) sup {
    padding: .6rem .6rem 0 .5rem; }

table {
  color: #000; }
  table thead th, table tbody td {
    padding: .5em;
    border-bottom: 1px solid #f6f6f6; }
  table[g~="hover"] > tbody > tr:hover {
    background: #f6f6f6; }

[g~="skrim"] {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05)); }

menu ul {
  background: #ddd;
  border-radius: 3px; }
  menu ul li.active {
    background: #F2F2F2;
    border-radius: 3px 0 0 3px; }

/*
	-------
	GALAXY/ALERTS
	_______
*/
alert {
  display: block;
  padding: 1rem;
  border-radius: 0.3em;
  font-size: .9rem;
  margin: 1em 0;
  color: gray;
  background: white;
  border: #bfbfbf 1px solid; }
  alert[g~="primary"] {
    color: #0088cc;
    background: #cceeff;
    border: #4dc3ff 1px solid; }
  alert[g~="success"] {
    color: #c8d926;
    background: white;
    border: #e4ec93 1px solid; }
  alert[g~="warning"] {
    color: #b36a00;
    background: #ffe0b3;
    border: #ffad33 1px solid; }
  alert[g~="danger"] {
    color: #f21d0d;
    background: white;
    border: #f88e86 1px solid; }

.modal, .modal_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0; }

.modal {
  visibility: hidden;
  opacity: 0;
  transition: .2s all ease-in; }
  .modal.active {
    margin-top: 10vh;
    visibility: visible;
    -webkit-filter: none;
            filter: none;
    opacity: 1;
    z-index: 100; }
  .modal footer {
    border-top: #DDDDDD 1px solid;
    width: 100%;
    padding: 1em 0;
    background: #FFF;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .modal .content {
    padding: 0 2em; }
  .modal .header {
    text-align: center;
    background: #fff; }
    .modal .header > * {
      padding: 0.5em; }
    .modal .header[g~="fixed"] {
      width: 50%;
      position: fixed;
      background: #fff; }

.modal_bg {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .2s all ease-in; }
  .active .modal_bg {
    opacity: 1; }

.modal_box {
  width: 50%;
  height: auto;
  border: 0.15em solid #f6f6f6;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  transition: .5s all ease-in;
  overflow: scroll;
  text-align: left; }
  .active .modal_box {
    top: 0; }

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  transition: all 0.1s linear;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none; }

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 127%;
  left: 40%;
  margin-left: -80%;
  padding: 3px;
  width: 160px;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px; }

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 103%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0; }

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
