section.banner(g="centered")
	h1 Popular App Layouts

div(g="centered lg-container")
	nav
		button(st-role='trigger', st-group='Option 1', st-state='active', st-remove='active' class='st-activated') Apps
		button(st-role='trigger', st-group='Option 2', st-state='active', st-remove='active') Websites
		
		.displays(g="md-container")
			.display.active(st-role='target' st-group='Option 1')
				section
					div(g="6" docs="card")
						img(src="/img/layouts/mailbox.svg")
						div(docs="content")
							hr
							h1 Mailbox App
							a(href="layouts/mailbox")
								button(g="primary") Demo
					div(g="6" docs="card")
						img(src="/img/layouts/mailbox.svg")
						div(docs="content")
							hr
							h1 Chat App
							a(href="layouts/mailbox")
								button(g="primary") Demo
				section
					div(g="6" docs="card")
						img(src="/img/layouts/mailbox.svg")
						div(docs="content")
							hr
							h1 Travel App
							a(href="layouts/mailbox")
								button(g="primary") Demo
					div(g="6" docs="card")
						img(src="/img/layouts/mailbox.svg")
						div(docs="content")
							hr
							h1 Voting App
							a(href="layouts/mailbox")
								button(g="primary") Demo
			.display(st-role='target', st-group='Option 2')
				h1 Option 2
			.display(st-role='target', st-group='Option 3')
				h1 Option 3

