/* --- BASE */

*:focus, *:active {
    outline: none;
}

i:after {
    content: "\00a0";
    /* Spacing around font-awesome and the such */
}
hr {
    width: 33%;
    border: $dark-shadow 1px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}
button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td, th {
    padding: 0
}
img {
    max-width: 100%;
}
li {
    list-style-type: none;
}
iframe {
    border: 0;
    width: 100%;
}
code {
    padding: 3px;
    border-radius: 3px;
}
[g~="primary"] {
    @include button-colors($primary-color);
}
[g~="success"] {
    @include button-colors($success-color);
}
[g~="warning"] {
    @include button-colors($warning-color);
}
[g~="danger"] {
    @include button-colors($danger-color);
}

ul {
	padding: 0; // Webkit has default margin-left
}

menu {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}