/*
    -------
    GALAXY/BUTTONS
    _______
*/

button, input[type="submit"] {
    border: $default-color 1px solid;
    border-radius: $md-border-radius;
    @include button-colors($default-color);
    padding: .8em 1.5em;
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
    text-align: center;
    height: auto;
    transition-duration: .3s;
    [g~="floating"] {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    // Material design
    &:not([g~="disabled"]):hover {
        filter: none;
        box-shadow: none;
        background: darken($default-color, 5);
    }
    &:not([g~="disabled"]):active {
        background: darken($default-color, 20);
    }
    &[g~="primary"] {
        @include button-colors($primary-color);
        &:not([g~="disabled"]):hover {
            background: darken($primary-color, 15);
        }
        &:not([g~="disabled"]):active, &.st-activated {
            background: darken($primary-color, 10);
        }
    }
    &[g~="success"]:not([g~="disabled"]) {
        @include button-colors($success-color);
        &:not([g~="disabled"]):hover {
            background: darken($success-color, 15);
        }
        &:not([g~="disabled"]):active, &:not([g~="disabled"]).st-activated {
            background: darken($success-color, 10);
        }
    }
    &[g~="warning"]:not([g~="disabled"]) {
        @include button-colors($warning-color);
        &:not([g~="disabled"]):hover {
            background: darken($warning-color, 15);
        }
        &:not([g~="disabled"]):active {
            background: darken($warning-color, 10);
        }
    }
    &[g~="danger"]:not([g~="disabled"]) {
        @include button-colors($danger-color);
        &:not([g~="disabled"]):hover {
            background: darken($danger-color, 15);
        }
        &:not([g~="disabled"]):active {
            background: lighten($danger-color, 15);
        }
    }
    &[g~="disabled"] {
        border: 0;
        background-image: none;
        opacity: .4;
        cursor: not-allowed;
        box-shadow: none;
    }
    &[g~="grouped"] {
        position: relative;
        vertical-align: middle;
    }
    &[g~="large"] {
        padding: 1em 2em;
        font-size: 1.2em;
    }
    &[g~="small"] {
        padding: .5em 1.5em;
        font-size: .9em;
    }
    &[g~="rounded"] {
        border-radius: $lg-border-radius;
    }
}
div[g~="dropdown"] {
    position: relative;
    & button {
        & + ul {
            display: none;
            left: 0;
            box-sizing: border-box;
            width: 200px;
            background: #FFF;
            color: #666;
            vertical-align: top;
            border: 1px solid #D3D3D3;
            border-radius: $md-border-radius;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 0;
            position: absolute;
            & li {
                padding: $sm-margin $lg-margin;
                cursor: pointer;
                &:hover {
                    background: #eee;
                }
            }
        }
        &.st-activated + ul {
            display: block;
        }
    }
}
