/*
	-------
	GALAXY/FORMS
	_______
*/

input[type='checkbox'], input[type='radio'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='tel'], input[type='color'], select {
	/* Fields without text */
	display: inline-flex;
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea {
	/* All fields */
	border-radius: $md-border-radius;
	font-size: 1em;
	line-height: 100%;
	position: relative;
	min-height: 2.7em;
	vertical-align: middle;
	transition: border-color .3s ease;
	text-indent: 5%;
	text-overflow: ellipsis;
	color: #333;
	background: #fff;
	margin-left: .5em;
	margin-right: .5em;
	border: $dark-shadow 1px solid;
	box-sizing: border-box;
}

input[type='checkbox'], input[type='radio'], input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='number'], input[type='search'], input[type='tel'], textarea {
		/* All fields with text */
		&:hover {
			box-shadow: inset 0 1px 3px $light-shadow;
	}
	&:focus {
		box-shadow: none;
	}
	&:focus:invalid {
		border: $light-shadow 1px solid;
	}
}

/* -- LAYOUTS */
[g~="grouped"] {
	& > input[type='text'], & > input[type='email'], & > input[type='password'], & > input[type='submit'], & > button {
	width: 100%;
	flex-basis: 100%;
	margin: 0;
	border-radius: 0;
	&:first-child {
		margin-bottom: 0;
		border-radius: 3px 3px 0 0;
	}
	&:last-child {
		margin-top: 0;
		border-radius: 0 0 3px 3px;
	}
		& > button {
			border-radius: 0 0 3px 3px !important;
		}
	}
}
	

/* -- Labels */
label[for] {
	padding: $md-padding;
	cursor: pointer;
}

fieldset {
	padding: $sm-padding;
}