/*
	-------
	GALAXY/HEADER
	_______
*/

header {
	top: 0;
	margin: 0;
	position: relative;
	background-color: $nav-color;
	color: darken(contrast-color($nav-color), 50);
	width: 100%;
	z-index: 1;
	display: inline-flex;
	transition: .5s;
	justify-content: center;
	align-self: center;
	vertical-align: middle;
	padding-top: .5em;
	padding-bottom: .5em;
	img {
		fill: darken(contrast-color($nav-color), 50); // Optimize Svg color to complement $nav-color
		vertical-align: middle;
	}
	nav {
		display: inline-flex;
		transition: .5s cubic-bezier(0, 1, 0.5, 1) all;
		ul {
			align-items: center;
			margin: 0;
			padding-left: 0;
			li {
				justify-content: center;
				color: darken(contrast-color($nav-color), 80);
				margin-left: 1em;

				a {
					border-radius: $md-border-radius;
					display: inline;
					text-decoration: none;
					padding: .75em 1em;
					color: darken(contrast-color($nav-color), 50);
					&:hover:not([g~="active"]) {
						color: contrast-color($nav-color);
					}
					&[g~="active"], [g~="active"]:hover, [g~="active"]:active {
						color: contrast-color($nav-color);
						opacity: 1;
					}
				}
			}
		}
	}
	&[g~="fixed"] {
		position: fixed;
	}
}

@media screen and (max-width: $md-breakpoint) {
	header {
		flex-direction: column;
		> a {
			align-self: center;
		}
		nav {
			height: 0;
			display: flex;
			overflow: hidden;
			&.expanded {
				height: 100%;
			}
		ul li {
			align-self: center;
			flex-basis: 100%;
			justify-content: center;
			display: flex;
			}
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	border-top: lighten(contrast-color($footer-background-color), 90) 1px solid;
	color: darken(contrast-color($footer-background-color), 20);
	background: $footer-background-color;
	line-height: 0;
	position: absolute;
	bottom: 0;
	border-top: #eee 1px solid;
	justify-content: space-around;
	& ul {
		padding: 0;
		padding-top: 0;
		display: flex;
	}
}
/* Drop down */

[g~='caret'] {
	width: 0;
	height: 0;
	margin-top: -4px;
	margin-right: 0;
	margin-left: 7px;
	vertical-align: middle;
	border-top: 6px solid #717d82;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

@media screen and (min-width: $md-breakpoint) {
	header {
		& nav.expanded {
			height: 100%;
		}
		& ul {
			display: inline-flex;
		}
		& a[g~="toggle"] {
			display: none;
		}
	}
}

ul[g~="inline"] {
	a {
		padding-left: 1em;
		padding-right: 1em;
	}
}


// Tabs

nav {
	background: $nav-color;
	display: inline-flex;
}

// Sidebars

aside {
	line-height: 2em;
	.active {
		border-left: #0af 3px solid;
		padding-left: 1em;
	}
}