/*
	-------
	GALAXY/TYPOGRPAHY
	_______
	Customize the settings in _settings.scss
*/

body {
    font-family: "Proxima Nova", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
    outline: 0;
    margin: 0;
    text-rendering: optimizelegibility;
    line-height: 2em;
    color: darken($dark-shadow, 50);
    transition-duration: .3s;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
}

$headings: h1 h2 h3 h4 h5 h6;

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
	color: #222;
	text-rendering: optimizeLegibility;
	margin-bottom: .5em;
	line-height: 1.4;
}

@each $heading in $headings {
	$i: index($headings, $heading);
	$shade: 13 * $i;
	#{$heading} {
		color: rgba(0, 0, 0, (113 - $shade)/ 100);
		line-height: 1.3em;
		font-size: 2.6em - $i / 3;
		font-weight: 300;
	}
}

blockquote {
	border-left: $primary-color 5px solid;
	padding-left: 1em;
}

a {
	color: $primary-color;
	cursor: pointer;
	opacity: 1;
	text-decoration: none;
	padding: 0;
	&:hover {
		color: lighten($primary-color, 10);
	}
}

p {
	font-size: 1.1em;
	margin-top: $md-margin;
}

code {
	color: #111;
	background-color: rgba($light-shadow, .8);
	font-size: 15px;
	border-radius: 2px;
}

pre {
	@extend code;
	display: block;
	margin: 0 0 28px 0;
	box-sizing: border-box;
	white-space: pre !important;
	word-wrap: normal !important;
	overflow: auto !important;
	background-color: rgba($light-shadow, .8);
	border-radius: 3px;
}

[g~="bold"] {
	font-weight: bold;
}

[g~="italic"] {
	font-style: italic;
}