@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-light-webfont.eot');
    src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proximanova-light-webfont.woff') format('woff'),
        url('/fonts/proximanova-light-webfont.ttf') format('truetype'),
        url('/fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-reg-webfont.woff') format('woff'),
        url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-reg-webfont.svg#ProximaNovaReg') format('svg');
    font-weight: 400;
    font-style: normal;
}






$dark-shadow: #383838;
$light-shadow: #ddd;
$primary-color: #5ba4e5;

$nav-color: #000;

#search {
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	border-bottom: #EEE 3px solid;
	padding: 0;

	& input, .fa {
		text-indent: 15%;
		background: #fff;
		box-shadow: none !important;
		border: 0 !important;
		font-size: 3em;
		border-radius: 0;
		width: 100%;
		color: #000;
		font-weight: 300;
		margin: 0;
	}
}

#search > input::-webkit-input-placeholder {
	color: #000;
	font-weight: 300;
}

// Search
.results {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0;
	position: relative;
	background: #fff;
}


#components {
	position: relative;
	width: 100%;
	margin: auto;
	h1 {
		color: #000;
	}
	& div.error {
		position: absolute;
	}
}


// Galaxy Grid

[g~="success"].st-activated {
    background: #8C9D1D;
    transition-duration: .2s;
    &:hover {
    	background: #8C9D1D;
    	transition-duration: .2s;
    }
}

.github-buttons li {
	display: inline-flex;
	padding: 1.5em;
}

// Gist embed

.gist .gist-file {
	border-radius: 0;
	transition-duration: .2s;
	margin-top: 1em;
	& table th, table td {
		border-bottom: 0
	}
}

code[data-gist-id] {
	width: 100%;
}

pre.line-pre {
	font-size: 1rem;
}

.active {
	& [g~="xsm-container"] {
		max-width: 259px;
	}
}

header a:not(.logo):not(.github) {
	&.active {
		background: #2BA3D4;
		color: #FFF;
		opacity: 1;
	}
}

#content p, #content h1, #content h2 {
	text-align: left;
}

#components > section > p, #components > section > h1 {
	text-align: left;
}

.example {
	width: 100%;
}

#pjax-container {
	margin-bottom: 17em;
}

.banner {
	h1 {
		color: #fff;
	}
	padding: 2em;
	background: $primary-color;
	border-bottom: #eee 3px solid;
}

