doctype
html
	head
		title Galaxy Framework
		meta(name="description" content="The front-end framework based on conversational language.")
		link(rel="icon" href="/img/favicon.png")
		link(rel="stylesheet" href="/css/galaxy.css")
		link(rel="stylesheet" href="/css/docs.css")

body(ondragstart="return false")

		header
			a(href="/")
				img(src="/img/logo.png" alt="Galaxy" height="50")
			nav(st-role="target" st-group="header")
				ul
					li
						a(href="/docs/" class=current.source=='docs/'?'active':'') Getting Started
					li
						a(href="/components" class=current.source == 'components' ? 'active' : '') Components
					li
						a(href="/boilerplates" class=current.source == '/boilerplates' ? 'active' : '') Boilerplates
					li
						a(href="https://github.com/Magmoz/galaxy" target="_blank") Github Repo</a>

			a(st-role="trigger" st-group="header" st-state="expanded" g="toggle")

		div#pjax-container
			!= yield

		footer
			a(g="sm-padding")
				img(src="/img/logo-dark.png" height="50")
			ul(g="centered")
				li Designed and maintained by <a href="//twitter.com/andyfang98">@AndyFang98</a>
			//- section
				ul
					li Made by <a href="https://twitter.com/AndyFang98" class="twitter-follow-button" data-show-count="false">@AndyFang98</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			ul(g="centered md-padding")
				li(style="margin-right: 2em;") <a class="github-button" href="https://github.com/Magmoz/galaxy" data-count-href="/Magmoz/galaxy/stargazers" data-count-api="/repos/Magmoz/galaxy#stargazers_count">Star</a>
				li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-git-branch" data-count-href="/Magmoz/galaxy/network" data-count-api="/repos/Magmoz/galaxy#forks_count">Fork</a>	

		script(src="https://code.jquery.com/jquery.min.js")
		script(src="/js/galaxy.js")
		script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")
		script(src="/js/docs.js")
		script(async='', src='//assets.codepen.io/assets/embed/ei.js')