style
  h1 > a {
    color: #000
  }
  
  .example section div, .example section section {
    text-align: center;
    justify-content: center;
    color: #afafaf;
    border: #ddd 1px solid;
    transition-duration: .5s;
    padding: 1em;
  }

  .example section div:hover {
    color: #000;
    border: #288CC8 1px solid;
  }
section#search
  input(type="text" placeholder="Type to search" autocomplete="off" maxlength="20" required autofocus)


.results
  #components(g="center lg-container")
    #grid.demo
      h1 <a href="#grid">Galaxy Grid</a>
      alert(g="primary") Use <strong>section</strong> to initiate a new row.
      p To create a 12 column row, simply initiate a <strong>section</strong>. Then, add a column number from <strong>1</strong> to <strong>12</strong> on the element's <strong>g</strong> attribute to specify the width of the column.
      .example
        <section><div g="3">3</div><div g="9">9</div></section>
      

      h2 Multiple rows
      p Sometimes you'll have a lot of rows, and nesting them in multiple <strong>section</strong>s can be verbose. This is why Galaxy columns that add up to <strong>12</strong> will automatically start at the next row. The example below demonstrates columns overflowing two rows:

      .example.
        <section>
          <div g="3">3</div>
          <div g="9">9</div>
          <!-- The above adds up to 12, so the following starts in a new row -->
          <div g="">First Half</div>
          <div g="">Second Half</div>
          <!-- Anything after this will be in another new row -->
        </section>

      h2 Nested Columns
      p Each row contains 12 columns by default, but you can make a more complex layout by nesting <strong>section</strong> within other <strong>section</strong>s.
      
      .example.
        <section>
          <section g="3">
            <div g="6">6</div>
            <div g="6">6</div>
          </section>
          <section g="9">9</section>
        </section>

      
      h2 Distributing spacing
      
      p Instead of defining equal columns, a cleaner approach can be to use Galaxy's <strong>between</strong> and <strong>around</strong> attributes on a parent <strong>section</strong>.
      

      alert(g="primary") Use <strong>between</strong> to add equal spacing in between items.
      .example.
        <section g="between">
            <div g="2">between</div>
            <div g="2">between</div>
            <div g="2">between</div>
            <div g="2">between</div>
        </section>
      
      alert(g="primary") Use <strong>around</strong> to add equal spacing in between items and outside of it.
      .example.
        <section g="around">
          <div g="2">around</div>
          <div g="2">around</div>
          <div g="2">around</div>
          <div g="2">around</div>
        </section>

      h2 Offsets

      alert(g="primary") Use <strong>offset-x</strong> to push the rest of the row down.
      p Offsets are used to apply a distinct margins that push everything else down. Like all columns, anything that overflows <strong>12</strong> will start in a new row.

      style
        [g*="offset"] {
          margin-left: 0;
        }

        .offset [g~="offset-3"] {
          margin-right: 0;
          margin-left: 25%;
        }

        .offset [g~="offset-10"] {
          margin-right: 0;
          margin-left: 83.33333%;
        }

        .offset [g~="offset-6"] {
          margin-right: 0;
          margin-left: 50%;
        }
      .example.
        <div st-group="mult-offset" st-role="target">

          <button g="success" st-group="mult-offset" st-role="trigger" st-state="offset">Demo offsets</button>

          <section>
              <div g="9 offset-3">9 offset-3</div>
          </section>

          <section>
              <div g="2 offset-10">2 offset-10</div>
          </section>

          <section>
              <div g="6 offset-6">6 offset-6</div>
          </section>
        </div>
      
      h2 Positioning
      alert(g="primary") Use <strong>centered</strong>, <strong>left</strong> or <strong>right</strong> to position an element to its parent container.

      p Traditional positioning has been quite frustrating. When using Galaxy, you can take a breath of fresh air. Even vertical centering is really easy.

      .example.
        <section g="left">
          <div g="2">left</div>
        </section>

        <section>
          <div g="2 centered">center</div>
        </section>

        <section g="right">
          <div g="2">right</div>
        </section>

        <section>
          <div g="2 middle">middle</div>
        </section>

      

      h2 Responsiveness

      alert(g="primary") It's good practice to set your own breakpoints. This gives you full control over which components will flow and in what width.
      
      p The example below holds 4 <strong>3</strong> columns that will span <strong>12</strong> columns when it reaches the <strong>md</strong> breakpoint.
      .example.
        <section>
          <div g="3 md-12">3 md-12</div>
          <div g="3 md-12">3 md-12</div>
          <div g="3 md-12">3 md-12</div>
          <div g="3 md-12">3 md-12</div>
        </section>

      p Galaxy Grid will flow columns in a new row automatically, but it's good practice to specify when exactly things will flow. To specify, just add <strong>{breakpoint}-{width}</strong> to the g tag.
      
      h3 Breakpoints
      
      section(g="centered")
        table
          thead
            th xsm
            th sm
            th md
            th lg
            th xlg
          tbody
            tr
              td 259px
              td 448px
              td 767px
              td 970px
              td 1440px

      h2 Containers
      alert(g="primary") Create a container to set max-widths with <strong>x-container</strong>
      p Containers wrap a group of components so that they don't overflow a set width. Though you can just use columns, using containers is the recommended way to maintain consistency over your design.

      .example.
        <section g="around">
          <label>Default label</label>
          <label g="primary">Primary label</label>
          <label g="success">Success label</label>
          <label g="warning">Warning label</label>
          <label g="danger">Danger label</label>
        </section>

      alert(g="warning") Need to support IE9? Checkout the <a href="https://github.com/Magmoz/galaxy/blob/master/galaxy/_grid.scss"> non-flex version</a>.

    #navbarnavigationheaderfootersidebar.demo

      h2 Header and Footer
      .example.
        <header>
          <ul>
            <li>
              <a href=""><img src="//placehold.it/150x50" alt="Galaxy" /></a>
            </li>
            <li><a href="" g="toggle" st-role="trigger" st-group="navbar_1" st-state="expanded"><i class="fa fa-navicon"></i></a></li>
          </ul>
          <nav st-role="target" st-group="navbar_1">
            <ul st-role="target" st-group="navbar_1">
              <li><a href="">Dashboard</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Settings</a></li>
            </ul>
          </nav>
        </header>

        <p g="centered middle md-container">
        Footers will always stick to the bottom regardless of the size of the content. Headers can be fixed by adding <strong>g="fixed</strong>.
        </p>

        <footer g="centered">
          
          <ul>
            <li><a href="https://twitter.com/AndyFang98" class="twitter-follow-button" data-show-count="false">Follow @AndyFang98</a></li>
          </ul>

        </footer>

    #buttons.demo
      h1 <a href="#buttons">Buttons</a>
    
      alert(g="primary") Buttons can be initiated with the <strong>button</strong> tag or <strong>submit input</strong>.

      .example.
        <section g="around">
          <button>Default button</button>
          <button g="primary">Primary button</button>
          <button g="success">Success button</button>
          <button g="warning">Warning button</button>
          <button g="danger">Danger button</button>
        </section>

        <section g="around">
          <button g="disabled">Disabled default</button>
          <button g="disabled primary">Disabled primary</button>
        </section>

    #forms.demo

      h1 <a href="#forms">Forms</a>
      alert(g="primary") Create a <strong>form</strong> like you normally would. Styles are applied automatically.
      .example.
        <form action="" g="centered">
          <input type="email" placeholder="Your email" required />
          <input type="password" placeholder="Your password" required />
          <input type="submit" g="primary" value="Sign in" />
        </form>

        <form action="" g="centered grouped xsm-container">
          <input type="email" placeholder="Your email" required />
          <input type="password" placeholder="Your password" required />
          <input type="submit" g="primary" value="Sign in" />
        </form>

      
    #tooltips.demo
      h1 Tooltips
      alert(g="warning") Tooltips currently do not have any options.
      <a data-tooltip="This is a simple tooltip.">Hover over me</a>
      
          


    #modals.demo
      h1 <a href="#modals">Modals</a>
      section(g="between")
        button(g="primary" st-group="modal" st-role="trigger" st-state="active") Activate Modal

      .modal(st-group="modal" st-role="target")
        .modal_bg(st-group="modal" st-role="trigger" st-state="active")
        .modal_box
          .header
            h1(g="centered") This is a message
          .content
            p A very short message.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat saepe eaque molestiae. Laboriosam voluptatibus non nemo corrupti facere inventore libero odit pariatur voluptates illo sequi perferendis dolor dolores, corporis.
          footer(g="around")
            button(g="primary") Continue
            button(st-group="modal" st-role="trigger" st-state="active") Close

        

    #typography.demo
      h1 <a href="#typography">Typography</a>
      section(g="column text-center")
        h1 The quick brown fox jumped over the heading 1
        h2 The quick brown fox jumped over the heading 2
        h3 The quick brown fox jumped over the heading 3
        h4 The quick brown fox jumped over the heading 4
        h5 The quick brown fox jumped over the heading 5
        h6 The quick brown fox jumped over the heading 6
        
        blockquote This is a blockquote.
        p This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia explicabo et facere, molestiae est aperiam deleniti, animi totam ipsum necessitatibus soluta consequuntur voluptas assumenda, id omnis. Accusamus ratione, iure quo.
    

    #labels.demo
      h1 <a href="#labels">Labels</a>
      .example.
        <section g="around">
          <label>Default label</label>
          <label g="primary">Primary label</label>
          <label g="success">Success label</label>
          <label g="warning">Warning label</label>
          <label g="danger">Danger label</label>
        </section>

    #tables.demo
      h1 <a href="#tables">Tables</a>
      .example.
        <section g="around">

        <table>
        <!--   Heading -->
          <thead>
            <th>xsm</th>
            <th>sm</th>
            <th>md</th>
            <th>lg</th>
            <th>xlg</th>
          </thead>
        <!--   body -->
          <tbody>
        <!--     A new row -->
            <tr>
              <td>259px</td>
              <td>448px</td>
              <td>767px</td>
              <td>970px</td>
              <td>1440px</td>
            </tr>
            <tr>
              <td>259px</td>
              <td>448px</td>
              <td>767px</td>
              <td>970px</td>
              <td>1440px</td>
            </tr>
          </tbody>
        </table>

        <!-- Hover Tables -->

        <table g="hover">
        <!--   Heading -->
          <thead>
            <th>xsm</th>
            <th>sm</th>
            <th>md</th>
            <th>lg</th>
            <th>xlg</th>
          </thead>
          
        <!--   body -->
          <tbody>
        <!--     A new row -->
            <tr>
              <td>259px</td>
              <td>448px</td>
              <td>767px</td>
              <td>970px</td>
              <td>1440px</td>
            </tr>
            <tr>
              <td>259px</td>
              <td>448px</td>
              <td>767px</td>
              <td>970px</td>
              <td>1440px</td>
            </tr>
          </tbody>
        </table>

          <!-- Hover Tables -->

        <table g="hover">
        <!--   Heading -->
          <thead>
            <th>xsm</th>
            <th>sm</th>
            <th>md</th>
            <th>lg</th>
            <th>xlg</th>
          </thead>
          

        <!--   body -->
          <tbody>
        <!-- A new row -->
            <tr>
              <td st-role="trigger">259px</td>
              <td>448px</td>
              <td>767px</td>
              <td>970px</td>
              <td>1440px</td>
            </tr>
            <tr>
              <td>259px</td>
              <td>448px</td>
              <td>767px</td>
              <td>970px</td>
              <td>1440px</td>
            </tr>
          </tbody>
        </table>
        </section>

      alert(g="warning") Sometimes you'll encounter an API that uses tables to position elements. With Galaxy, using the <strong>thead</strong> and <strong>tbody</strong> tags avoids most conflicts.


  //- .searching(g="left")
  //-   h2 Sorry, but that component doesn't exist.
  //-   h3 Did you mean:
  //-   ul.components_list

  //-       li
  //-         a Grid
  //-       li
  //-         a Buttons
  //-       li
  //-         a Forms
  //-       li
  //-         a Labels
  //-       li
  //-         a Tooltips
  //-       li
  //-         a Footer
  //-       li
  //-         a Misc
  //-       li
  //-         a Modals
  //-       li
  //-         a Tables
  //-       li
  //-         a Dropdowns
  //-       li
  //-         a Typography
  section(g="centered column")
    hr
    h2 See some examples
    h3(g="sm-padding-b") We've made some boilerplates so you can get started even easier.
    a(href="/boilerplates/")
      button(g="large success") View Boilerplates