link(rel="stylesheet" href="/css/home.css")

div.jumbotron.opening(g="centered column")

	section(g="centered md-padding")
		div(g="md-container")
			h1(g="12 centered xlg-padding-t bold") Build anything with HTML

			h4(g="sm-padding-b") Galaxy is a powerful, semantic, and production-ready framework for building front-end layouts with ease.

			a(href="https://github.com/Magmoz/galaxy/archive/master.zip" g="centered lg-margin")
				button(g="success" style="font-size: 1.05em;") Download Galaxy

	ul.github-buttons(g="centered sm-padding-t lg-padding-b")
		li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-star" data-style="mega" data-count-href="/Magmoz/galaxy/stargazers" data-count-api="/repos/Magmoz/galaxy#stargazers_count">Star</a>
		li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-git-branch" data-style="mega" data-count-href="/Magmoz/galaxy/network" data-count-api="/repos/Magmoz/galaxy#forks_count">Fork</a>
			

div(g="centered md-container md-padding")
	h1 Build modern web apps without the clutter
	p What if vertical centering wasn't such a pain? Galaxy takes away the hassles of CSS and lets you focus fully on your design.
	a(href="/docs/") → Shortened Get Started Guide
hr
section(g="centered around lg-padding")
	div(g="4 lg-12")
		img(src="/img/performant.png" height="200")
		h2 lightning fast
		p Most of Galaxy is handled in CSS, making motion ui feeling incredibly smooth and native. In fact, Galaxy.js is only 3kb minified!
	div(g="4 lg-12")
		img(src="/img/design-specs.png" height="200")
		h2 built on design specs
		p Galaxy follows a variation of the <a href="https://www.google.com/design/spec/components/grids.html#grids-usage" target="_blank">Google's Design Specs</a>, making the framework consistent, beautiful, and legibly crafted.
	div(g="4 lg-12")
		img(src="/img/native.png" height="200")
		h2 semantic markup
		p By using the custom attribute <code>g</code>, there are literally no naming constraints, repetitive module names, or the need to use classes.

h1 

hr
	
div(g="centered lg-padding lg-container" style="background: url('/img/satellite.png') right;background-size: contain;background-repeat: no-repeat;")
	h1 Open Source on Github
	p You can fork it, star it or clone it. We're also accepting friendly pull requests.
	a(href="https://github.com/Magmoz/galaxy")
		button(g="success md-margin") View Galaxy on Github